/* Sets font family to Iceland */
.iceland {
    font-family: Iceland;
}

/* Sets font familyy to Jura */
.jura {
    font-family: Jura;
}

/* Sets font color to dark blue */
.color-dark-blue {
    color: #003153;
}

/* Creates a bottom border for mobile */
.border-bottom-dark {
    border-bottom: #003153 solid 4px;
    width: 100%;
}

/* Styles the  main header */
.header {
    width: 100%;
    height: 120px;
    background-color: #003153;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0%;
}

/* Styles the header with name */
#header-name {
    width: 100%;
    height: 80px;
    background-color: #4694D6;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0%;
    padding: 0%;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Positions nav in header */
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles the font of the header nav */
.header-nav a {
    color: #4694D6;
    margin: 15px;
    border-bottom: #4694D6 4px solid;
    padding-bottom: 2px;
    padding: 12px;
    font-size: 42px;
    text-decoration: none;
}

/* Adds hero image and positions it */
#hero {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    background-image: url(../images/binary_code_banner_design_2510.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Adds and positions subtitle on hero image */
#hero-subtitle {
    position: absolute;
    padding: 10px;
    top: 360px;
    background-color: #4694D6;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    right: 40px;
}

/* Adds and positions profile pic for hero image */
#profile-pic {
    height: 200px;
    width: auto;
    z-index: 1;
    position: absolute;
    top: 240px;
    left: 100px;
}

/* Sets position of main container relative to the rest of the page */
.main-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
}

/* Sets width for ul list in main container */
.main-container ul {
    width: 95%;
}

/* Removes list style from main container ul */
.main-container ul li {
    list-style: none;
}

/* Sets size and aligns text for p element in the about section */
.about p {
    font-size: 38px;
    width: 100%;
    text-align: left;
}

/* Makes the work/contact section a flexbox */
.work-section,
.contact {
    display: flex;
    flex-flow: column nowrap;
}

/* Styles the work a elements with an image and position */
.work-container a {
    height: 200px;
    position: relative;
    display: flex;
    margin: 15px;
    background-image: url(../images/23B0CBA5-A12F-4B23-B4FB-6375AB1C1521.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    z-index: 1;
    border: #003153 solid 4px;
}

/* Styles the a elements for the contact section */
.contact a {
    font-size: 28px;
    text-decoration: none;
    border-bottom: #003153 solid 4px;
    width: fit-content;
}

/* Positions footer and adds a background color */
#footer {
    background-color: #003153;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

/* Styles the h1 element within the footer */
#footer h1 {
    font-size: 42px;
    background-color: #4694D6;
    padding: 0px;
    margin: 15px;
}

/* Sets layout for larger screens */
@media screen and (min-width: 992px) {

    .header {
        top: 0px;
        left: 0px;
        position: absolute;
    }

    #header-name {
        top: 25px;
        z-index: 1;
        width: 350px;
        height: 60px;
    }

    .header-nav {
        position: relative;
        top: 0px;
        align-items: center;
        justify-content: flex-end;
    }

    .header-nav a {
        font-size: 30px;
        margin-top: 25px;
    }

    #hero {
        top: 60px;
        position: relative;
        height: 200px;
        margin-bottom: 20px;
    }

    #hero-subtitle {
        top: 230px;
        right: 100px;
    }

    #profile-pic {
        top: 130px;
        height: 180px;
        left: 30px;
    }

    .main-container {
        display: flex;
        flex-direction: column nowrap;
        position: relative;
        bottom: 180px;
        width: 100%;
        margin-left: 30px;
    }

    .main-container ul {
        padding: 10px;
    }

    .main-container ul li div h1 {
        border-bottom: none;
        border-right: #003153 solid 4px;
        padding-right: 60px;
        font-size: 52px;
        text-align: right;
        width: 100px;
        display: flex;
        justify-self: flex-start;
        align-items: flex-start;
    }

    .about,
    .contact,
    .work-section {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        width: 100%;
    }

    .about p {
        margin: 20px;
        text-align: left;
        font-size: 24px;
    }

    .work-section {
        display: flex;
        flex-flow: row nowrap;
    }

    .work-container {
        display: inline-flex;
        flex-flow: row wrap;
        flex: 1 1 100%;
        min-width: 100%;
    }

    .work-container a {
        height: 250px;
        width: 44%;
        display: flex;
    }

    #work-1 {
        flex: 2 1 100%;
        max-width: 90%;
    }

    .contact {
        align-items: center;
        justify-content: center;
    }

    .contact h1 {
        display: flex;
        justify-content: left;
        position: absolute;
        left: 0px;
    }

    .contact a {
        align-items: center;
        margin: 25px;
    }

}